PORT=3000
JWT_SECRET=your_jwt_secret_here
FRONTEND_ORIGIN=http://localhost:5173
MS1_URL=http://localhost:3001
MS2_URL=http://localhost:3002
MS3_URL=http://localhost:3003
MS4_URL=http://localhost:3004
